*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Montserrat";
    background-color: #0c0c0c;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
}

.nav1{
    margin-left: 70px;
    margin-top: 20px;
    font-family: "Montserrat";
    color: white;
    display: flex;
    align-items: center;
}

.nav1 img{
    height: 50px;
}

.nav1 h4{
    margin-left: 10px;
    display: flex;
}

.nav2{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
    margin-right: 15px;
}

.nav2 h4{
    cursor: pointer;
    font-weight: 600;
}

.nav2 img{
    height: 40px;
    width: 40px;
    overflow: hidden;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
}

.nav3{
    color: white;
    display: none;
}

main{
    padding-top: 50px;
}

.section1{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;;
    font-family: "Helvetica Neue";
}

.section1 .left{
    max-width: 45%;
}

.section1 .left h1{
    color: white;
    font-size: 2.75em;
    line-height: 1.05em;
    font-weight: 450;
    letter-spacing: -0.015em;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.section1 .left .tags{
    display: flex;
    gap: 5px 5px;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.section1 .left .tags h4{
        background-color: #212121;
        border-radius: 5px;
        color:white;
        font-weight: 500;
        padding: 10px 15px;
        font-size: 1em;
        flex-shrink: 0;
}

.section1 .left .price {
    color: white;
    font-size: 35px;
    font-family: "Helvetica Neue";
}

.section1 .left .price .crp {
    color: #02e797;
    font-size: 35px;
    font-family: "Outfit";
}

.section1 .left .price .ogp {
    color: #cfcfcf;
    font-size: 26px;
    font-weight: 500;
    opacity: 0.7;
    font-family: "Outfit";
    text-decoration: line-through;
}

.section1 .left .price #gst {
    font-size: 26px;
    font-weight: 500;
}

.section1 .left #Scratch{
    color:#cfcfcf;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Poppins';
}

.section1 .right{
    width: 45%;
}

.section1 .right .right-in{
    max-width: 600px;
    background-color: #02e797;
    border-radius: 15px;
}

.section1 .right .right-in .right-img{
    width: 100%;
}

.section1 .right .right-in .right-img img{
    width: 100%;
    display: block;
    cursor: pointer;
}

.section1 .right .right-in .Bottom{
    padding: 15px;
    /* background-color: #1e1e1e; */
    background-color: #121212;
    padding-bottom: 15px;
    padding-top: 40px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: stretch;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.section1 .right .right-in .Bottom h4{
    color: #cfcfcf;
    font-weight: 500;
    background-color: #151515;
    padding: 12.5px;
    width: 45%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(255, 255, 255, 0.24); */
    font-size: 1.10em;
    border-radius: 5px;
}

.Bottom .gr{
    color: #02e797;
    font-weight: 400;
    font: 1em;
}

.Bottom .time{
    margin-left: 5px;
    color: #cfcfcf;
    font-weight: 400;
    font-size: 0.9em;
}

.section1 .left .buttons{
    margin: 15px 0px;
    display: flex;
    height: 40px;
    align-items: center;
    gap: 20px;
}

.buttons .bt1{
    margin-top: 10px;
    background-color: #009650;
    border-radius: 10px;
    color: #fff;
    width: 40%;
    height: 60px;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Outfit';
}

.buttons .bt2{
    background-color: #353535;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 500;
    height: 60px;
    color: #fff;
    padding: 10px 60px;
    font-size: 20px;
}

.left h6{
    margin-top: 30px;
    color: #e9e9e9;
    font-weight: 300;
    font-size: 1.2em;
}

.left h6 span{
    color: #02e797;
}


@media(max-width: 768px){

    .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 0px;
}

    .nav1 {
        margin-top: 25px;;
        margin-left: 20px;
        font-size: 16px;
    }

    .nav1 img{
        height: 40px;
    }

    .nav2{
        display: none;
    }

    .nav3{
        margin-top: 20px;
        padding-top: 10px;
        display: flex;
        align-items: center;
        color: white;
        font-size: 30px;
        margin-right: 22px;
        cursor: pointer;
        justify-content: center;
    }
}


@media (max-width: 1200px){
    .section1 .left h1{
        font-size: 4vw;
    }

    .section1 .left .buttons{
    margin: 15px 0px;
    display: flex;
    height: 40px;
    width: 100vw;
    align-items: center;
    gap: 20px;
}
}


@media (max-width: 800px){

.left h6{
    margin-top: 30px;
    color: #e9e9e9;
    font-weight: 300;
    font-size: 1.2em;
    width: 100vw;
}

.left h6 span{
    color: #02e797;
}   
.section1 .left .buttons{
    margin: 15px 0px;
    display: flex;
    height: 40px;
    width: 100vw;
    align-items: center;
    gap: 20px;
}

.buttons .bt1{
    margin-top: 15px;
    background-color: #009650;
    border-radius: 10px;
    color: #fff;
    width: 40vw;
    height: 60px;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Outfit';
}

.buttons .bt2{
    background-color: #353535;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: 500;
    height: ;
    flex-wrap: wrap;
    color: #fff;
    padding: 10px 60px;
    font-size: 20px;
    width: 40vw;
}
.section1 .left .price {
    margin-top: 80px;
    width: 100vw;
    color: white;
    font-size: 35px;
    font-family: "Helvetica Neue";
}

.section1 .left .price .crp {
    color: #02e797;
    font-size: 35px;
    font-family: "Outfit";
    width: 100%;
}

.section1 .left .price .ogp {
    color: #cfcfcf;
    font-size: 26px;
    font-weight: 500;
    opacity: 0.7;
    font-family: "Outfit";
    text-decoration: line-through;
}

.section1 .left .price #gst {
    font-size: 26px;
    font-weight: 500;
}

.section1 .left #Scratch{
    color:#cfcfcf;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Poppins';
}
}

/* @media (max-width: 600px){
    .section1 .left h1{
        font-size: 4vw;
    }
} */